@model AddInvoiceFormModel
@{
    ViewBag.Title = "Add Invoice"; 
}
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="~/lib/ARS.jpg" style="width: 100%; max-width: 300px" />
                            </td>
                            <td>
                                Invoice @Model.Number<br />
                                Created: @Model.CreatedOn<br />
                                Due: @Model.DueDate
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Ars Ltd.<br />
                                VAT:203300624<br />
                                121 P.Evtimii str.,<br />
                                6000 Stara Zagora,<br />
                                Bulgaria<br />
                            </td>
                            <td>
                                @Model.FirmName<br />
                                @Model.FirmVAT<br />
                                @Model.Owner<br />
                                @Model.FirmAddress, @Model.Town, @Model.Country<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>Payment Method</td>
                <td>Bank transfer</td>
            </tr>
            <tr class="details">
                <td>IBAN </td>
                <td>@Model.IBAN</td>
            </tr>
            <tr class="heading">
                <td>@Model.Item</td>
                <td>@Model.Price</td>
            </tr>
            <tr class="item">
                <td>Website design</td>
                <td>$300.00</td>
            </tr>
            <tr class="item">
                <td>Hosting (3 months)</td>
                <td>$75.00</td>
            </tr>
            <tr class="item last">
                <td>Domain name (1 year)</td>
                <td>$10.00</td>
            </tr>
            <tr class="total">
                <td></td>
                <td>Total: $385.00</td>
            </tr>
        </table>
    </div>
</body>
<a href="#" class="btn btn-primary text-light">Submit</a>
<a href="#" class="btn btn-danger text-light">Cancel</a>
<a href="" class="btn  btn-success">Create PDF</a>
