@model InvoiceFormModel
@{
    ViewBag.Title = "Details Invoice";
}
<link href="~/css/style.css" rel="stylesheet">
<body>

    <div id="invoice" class="invoice-box section-bg" data-aos="fade-up">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="~/pics/ARS.jpg" style="width: 100%; max-width: 300px" />
                            </td>
                            <td>
                                Invoice :@Model.Number
                                <br />
                                Created: @Model.CreatedOn.ToShortDateString()<br />
                                Due: @Model.DueDate.ToShortDateString()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Ars Ltd.<br />
                                VAT:203300624<br />
                                121 P.Evtimii str.,<br />
                                6000 Stara Zagora,<br />
                                Bulgaria<br />
                            </td>
                            <td>
                                Company:   @Model.CustomerName<br />
                                VAT:    @Model.CustomerVAT<br />
                                Owner:  @Model.CustomerOwner<br />
                                Adress: @Model.CustomerAddress,<br />
                                @Model.Town, @Model.Country<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>Payment Method</td>
                <td>Bank transfer</td>
            </tr>
            <tr class="details">
                <td>IBAN </td>
                <td>
                    EUR BG91STSA93000026775496<br />
                    BGN BG71STSA93000026775468
                </td>
            </tr>
            <tr class="heading">
                <td>Item</td>
                <td>Price</td>
            </tr>
            <tr class="item">
                <td>@Model.Item</td>
                <td>@Model.Price</td>
            </tr>
            <tr class="quantity">
                <td>Quantity</td>
                <td>@Model.Quantity</td>
            </tr>
            <tr class="total">
                <td></td>
                <td>Total: @Model.Total</td>
            </tr>
        </table>

    </div>

</body>

<a href="/Customers/All" class="btn btn-primary btn-sm mb-3">Back</a>
<a id="printPDF" class="btn btn-primary btn-sm mb-3">PrintPDF</a>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script scr="~/js/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

    $('#printPDF').click(function () {
        var element = document.getElementById('invoice');
        var number = @Model.Number;
        html2pdf().from(element).set({
            marin: 1,
            filename: `invoice${number}.pdf`,
            pagebreak: { avoid: 'tr' },
            jsPDF: {orientation:'landscape',unit:'pt', format:'letter',compressPDF:true}
        }).save()

    });
    </script>
}
