<div class="container section-bg" data-aos="fade-up">
    <h1>Proposal Name @Model.Name</h1>
    <p>CreatedOn @Model.CreatedOn</p>
    <p>Budget @Model.Budget</p>
    <p><strong>EIC Step 0 Step 1</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>Step 0-Diagnostics</strong></p>
    <p><strong>Internal administrative information</strong></p>
    <p>Company name:&nbsp; @Model.CustomerName</p>
    <p>&nbsp;</p>
    <p><strong>WHAT</strong></p>
    <p>What type of solution do you have in mind  @Model.SolutionType</p>
    <p>&nbsp;</p>
    <p>What is the purpose of your project @Model.ProjectPurpose</p>
    <p>&nbsp;</p>
    <p>Project acronym (50 characters):</p>
    <p>@Model.ProjectAcronym</p>
    <p>Describe your solution (1000 characters):</p>
    <p>@Model.SolutionDescribtion</p>
    <p>&nbsp;</p>
    <p><strong>WHY</strong></p>
    <p>Describe the problem to be solved or the need(s) to be satisfied (1000 characters):</p>
    <p>@Model.ProblemSolve</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>HOW</strong></p>
    <p>Idea or technology based @Model.HowProblemIsSolved</p>
    <p>Create at least 2 functions and at least 3 features for each function (you can add more)</p>
    <p><strong>Function/ use case 1 (100 characters):</strong>&nbsp;</p>
    <p>Feature name (100 characters):@Model.FeatureName1</p>
    <p>Feature needed knowledge (500 characters):@Model.FeatureKnowledge1</p>
    <p>Feature technology (500 characters):@Model.FeatureTechnology1</p>
    <p><strong>&nbsp;</strong></p>
    <p>Feature name (100 characters): @Model.FeatureName2</p>
    <p>Feature needed knowledge (500 characters):@Model.FeatureKnowledge2</p>
    <p>Feature technology (500 characters):@Model.FeatureTechnology2</p>
    <p><strong>Step 1- SUBMISSION</strong></p>
    <p><strong>Proposal information</strong></p>
    <p>Project acronym:@Model.ProjectAcronym</p>
    <p>Proposal title:&nbsp;@Model.FullProposalTitle</p>
    <p>Select keywords here&nbsp;<a href="https://eic.ec.europa.eu/system/files/2021-03/HE_EIC_taxonomy.pdf">https://eic.ec.europa.eu/system/files/2021-03/HE_EIC_taxonomy.pdf</a></p>
    <p>Keyword 1 (parent):@Model.Keyword1Parent</p>
    <p>Keyword 1 (child):&nbsp;@Model.Keyword1Child</p>
    <p>Keyword 2 (parent):&nbsp;@Model.Keyword2Parent</p>
    <p>Keyword 2 (child): @Model.Keyword2Child</p>
    <p>Keyword 3 (parent):&nbsp;@Model.Keyword3Parent</p>
    <p>Keyword 3 (child):@Model.Keyword3Child</p>
    <p>Abstract (1000 characters):&nbsp;@Model.Abstract</p>
    <p>&nbsp;</p>
    <a href="/Proposals/All" class="btn btn-primary btn-sm mb-3">Back</a>
    </div>

