@model IEnumerable<ProjectServiceModel>

<div class="row">
    @foreach (var project in Model)
    {
     <div class="card mb-3">
        <img class="card-img-top" height="250" width="500" src="@project.ProjectPhoto" alt="@project.Name">
        <div class="card-body text-center">
            <h5 class="card-title text-center">@project.Name</h5>
            <h6 class="card-subtitle text-center"> @project.Status</h6>
            <br />

            <a href="/Projects/Details?projectId=@project.Id" class="btn btn-primary btn-sm">More</a>
            @if (User.Identity.IsAuthenticated && User.IsAdmin())
            {
                <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id" class="btn btn-info btn-sm">Edit</a>
                <a asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-light btn-sm">Delete</a>
            }
        </div>
     </div>
     }
</div>