@model ProjectFormModel

<div class="col-6 offset-3 container section-bg" data-aos="fade-up">
    <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    <form method="post">

        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Project Name">
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProjectPhoto">Project Photo</label>
            <input asp-for="ProjectPhoto" class="form-control" placeholder="Photo link">
            <span asp-validation-for="ProjectPhoto" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProgrammId">Programm</label>
            <select asp-for="ProgrammId" class="form-control">
                @foreach (var programm in Model.Programms)
                {
                    <option value="@programm.Id">@programm.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="ProposalId">ProposalId</label>
            <select asp-for="ProposalId" class="form-control">
                @foreach (var proposal in Model.Proposals)
                {
                    <option value="@proposal.Id">@proposal.Name</option>
                }
            </select>
        </div>

        <div class="form-floating mb-3">
            <div class="form-droup">
                <label asp-for="@Model.Status">What is the purpose of your project ? </label>
                <select onchange="val()" asp-for="@Model.Status" id="projectPurpose" class="form-control">
                    <option>Select</option>
                    <option>Started</option>
                    <option>In Progress</option>
                    <option>Finished</option>
                    <option>To be Started</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StartDate">StartDate</label>
            <input asp-for="StartDate" class="form-control" placeholder="ddMMyyyy">
            <span asp-validation-for="StartDate" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EndDate">EndDate</label>
            <input asp-for="EndDate" class="form-control" placeholder="ddMMyyyy">
            <span asp-validation-for="EndDate" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ProposalId">Customer</label>
            <select asp-for="@Model.ProposalId" class="form-control">
                @foreach (var proposal in Model.Proposals)
                {
                    <option value="@proposal.Id">@proposal.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="ProjectRate">ProjectRate</label>
            <input asp-for="ProjectRate" class="form-control" placeholder="Win fee">
            <span asp-validation-for="ProjectRate" class="small text-danger"></span>
        </div>

        <input class="btn btn-primary" type="submit" value="Save" />

    </form>
    <br />
</div>

