@model IEnumerable<ProjectServiceModel>

<div class="row">
    @foreach (var project in Model)
    {<div class="col-md-4">
            <div class="card mb-3">
                <img class="img-fluid" height="250" width="500" src="@project.ProjectPhoto" alt="@project.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@project.Name</h5>
                    <h6 class="card-subtitle text-center"> Project Id @project.Id</h6>
                    <br />

                    <a href="/Projects/Details?projectId=@project.Id" class="btn btn-primary btn-sm">More</a>
                    @if (User.Identity.IsAuthenticated && User.IsAdmin())
                    {
                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id" class="btn btn-info btn-sm">Edit</a>
                        <a a href="/Projects/AddEmployee?projectId=@project.Id" class="btn btn-primary btn-sm">Add employee</a>
                    <form method="post" asp-controller="Home" asp-action="SendToEmail" asp-route-id="@project.Id">
                        <button class="btn btn-warning">Send to my email</button>
                    </form>
                        }
                </div>
            </div>
        </div>
    }
</div>
