@model ARS_ProjectSystem.Models.Projects.AllProjectsQueryModel
@{
    ViewData["Title"] = "All Projects";
}

<form method="get">
    <div class="row mb-3">
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Programm"></label>
                <select asp-for="Programm" class="form-control">
                    <option value="">All</option>
                    @foreach (var programm in Model.Programms)
                    {
        <option value="@programm">@programm</option>}
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm">SearchBy</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Please select">
        </div>
        <div class="form-group col-md-3">
            <div class="form-droup">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Name</option>
                    <option value="1">Programm</option>
                    <option value="2">Status</option>
                </select>
            </div>
        </div>
    </div>
        <div class="form-group col-md-3">
     </div>
</form>

<div class="row">
    @foreach (var project in Model.Projects)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" height="210" width="500"src="@project.ProjectPhoto" alt="@project.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@project.Name</h5>
                    <h6 class="card-subtitle text-center"> @project.ProgrammName </h6>
                    <br/>
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>
@{ 
    var previousPage = Model.CurrentPage - 1;
    if(previousPage<1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalProjects / AllProjectsQueryModel.ProjectsPerPage);

}
<div class="row mb-3">
    <div class="col-md-6" >
        <a class="btn btn-primary @(Model.CurrentPage==1?"disabled": string.Empty)"
           asp-controller="Projects" 
           asp-action="All" 
           asp-route-currentPage="@(Model.CurrentPage-1)"
           asp-route-programm="@Model.Programm"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage==maxPage?"disabled":string.Empty)"
           asp-controller="Projects" 
           asp-action="All" 
           asp-route-currentPage="@(Model.CurrentPage+1)"
           asp-route-programm="@Model.Programm"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>
<a asp-controller="Projects" asp-action="Add" class="btn btn-primary">Add new Project</a>



